* {
  box-sizing: border-box;
}

.sim {
  width: 99vw;
  height: 97vh;
  background-color: lightblue;
}

html, body {
  width: 95vw;
  height: 95vh;
  background-color: grey;
  text-align: center;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
